*{
    padding: 0;
    margin: 0;
}
/* banner */
.banner-image{
    width: 1320px;
height:500px;
margin-left: 20px;
margin-top: 15px;
}
/* categories section */
.categories{
background: #FFF;
}
.off{
    color: #F00;
margin-top: 120px;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.HOLIDAY{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 48px;
}
.all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.new-year-photo{
    width: 400px;
    margin-left: 35%;
    margin-top: 10px;
height: 300px;
flex-shrink: 0;
}
/* third section */
.vector{
    width: 1320px;
    height:500px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
}
.absolute{
    position: relative;
    top: 200px;
}
.welcome{
    color: white;
    width: 600px;
    margin-left: 450px;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.Dolor{
    color: rgba(255, 255, 255, 0.80);
    width: 800px;
font-family: Inter;
margin-left: 250px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.button{
    color: #FFF;
background-color: black;
margin-left: 250px;
margin-top: 20px;
cursor: pointer;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/* fourth section */
.fourth-section{
    margin-top: 320px;
   padding: 70px 0 0 420px;
    width: full;
height: 300px;
border-radius: 60px;
background-color: rgb(228, 216, 238);
margin-bottom: 30px;
}
.place{
    margin-left: 80px;
}
.December{
    margin-left: 40px
}

.red-text{
    color: red;
    text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.btn-2{
    color: #FFF;
     background-color: red;
   margin-left: 240px;
   cursor: pointer;
   margin-top: 15px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
}
.black-text{
    color: black;
    font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
/* fifthe */
.fifth{
    display: flex;
    text-align: center;
    margin-left: 120px;
    margin-top: 50px;
    justify-content: space-between;
}
.fifth-section{
 
   
    width: full;
height: 300px;
border-radius: 60px;
background-color:white;
margin-bottom: 30px;
}
.new{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Coming{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.sit{
    color: rgba(7, 2, 17, 0.60);
    width: 393px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.number{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* sixth */
.sixth{
    margin-top: 200px
}
.short{
   margin-left: 450px;
}
.img-group{
    margin-left: 150px;
}
.what{
    color: #070211;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Holidays{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.Sale{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.group-photo{
    width: 500px;
    height: 400px;
}
.Rectangle{
    width: 500px;
    height: 400px;
    position: absolute;
}
.grp-44{
  position: relative;
  margin-right: -130px;
  z-index: 1;
}

/* seventh */
.seventh{
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 60px;
}
.BEST{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Awesome{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}


/* eight section */
.eight{
    margin-top: 60px;
    margin-left: 610px;
}
.Subscribe{
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.amet{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
text-align: center;
align-items: center;
margin-left: 190px;
}
.input{
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
background: #FFF;  
margin-left: 330px;
margin-top: 20px;
}
.btn-3{
    color: #FFF;
    background-color: red;
 
  cursor: pointer;

   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 20px;
   padding: 15px;
   border-radius: 15px;
  margin-top: 15px;
   margin-left: 600px;
}

.footer{
    margin-left: 15px;
    width: 1320px;
    height: 300px;
    flex-shrink: 0;
    background: #070211;

}
.big{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
padding: 50px;
}
.call{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.call-1{
    display: flex;
   padding: 50px;

}
.ft-1{
    display: flex;
    justify-content: space-between;
}
.call-img{
    width: 30px;
    height: 30px;
}

.ft-2{
    margin-top: -130px;
    margin-left: 1000px;
}

.grp-2{
    margin-left: 500px;
    margin-top: 30px;
}