*{
    padding: 0;
    margin: 0;
}
/* banner */
.banner-image{
    width: 1320px;
height:500px;
margin-left: 20px;
margin-top: 15px;
}
/* categories section */
.categories{
background: #FFF;
}
.off{
    color: #F00;
margin-top: 120px;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.HOLIDAY{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 48px;
}
.all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.new-year-photo{
    width: 400px;
    margin-left: 35%;
    margin-top: 10px;
height: 300px;
flex-shrink: 0;
}
/* third section */
.vector{
    width: 1320px;
    height:500px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
}
.absolute{
    position: relative;
    top: 200px;
}
.welcome{
    color: white;
    width: 600px;
    margin-left: 450px;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.Dolor{
    color: rgba(255, 255, 255, 0.80);
    width: 800px;
font-family: Inter;
margin-left: 250px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.button{
    color: #FFF;
background-color: black;
margin-left: 250px;
margin-top: 20px;
cursor: pointer;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}